@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<!-- Section: Design Block -->
<section class="d-flex align-items-center justify-content-center min-vh-100">
    <style>
        .rounded-t-5 {
            border-top-left-radius: 0.5rem;
            border-top-right-radius: 0.5rem;
        }

        .card {
            width: 100%;
            max-width: 800px; /* You can adjust the max width as needed */
        }
    </style>
    <div class="card mb-3">
        <div class="row g-0 d-flex align-items-center">
            <!-- Replaced Text with Image on the Left Side -->
            <div class="col-lg-4 d-none d-lg-flex">
                <img src="https://www.discount-supplements.co.uk/cdn/shop/articles/cbum-x-raw-nutrition-432906_800x.jpg?v=1720518310" alt="Fitness Image"
                     class="w-100 rounded-t-5 rounded-tr-lg-0 rounded-bl-lg-5" />
            </div>
            <div class="col-lg-8">
                <div class="card-body py-5 px-md-5">
                    <!-- Form Section -->
                    <form id="account" method="post">
                        <h2 class="mb-4" style="font-weight: bold;">Prove you're <span class="text-primary">Admin</span></h2>
                        <hr />
                        <!-- Validation Summary -->
                        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

                        <!-- Email input -->
                        <div class="row mb-4">
                            <div class="col-sm-3 d-flex align-items-center">
                                <label asp-for="Input.Email" class="form-label">Email address</label>
                            </div>
                            <div class="col-sm-9">
                                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                                <span asp-validation-for="Input.Email" class="text-danger"></span>
                            </div>
                        </div>

                        <!-- Password input -->
                        <div class="row mb-4">
                            <div class="col-sm-3 d-flex align-items-center">
                                <label asp-for="Input.Password" class="form-label">Password</label>
                            </div>
                            <div class="col-sm-9">
                                <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="password" />
                                <span asp-validation-for="Input.Password" class="text-danger"></span>
                            </div>
                        </div>


                        <!-- 2 column grid layout for inline styling -->
                        <div class="row mb-4">
                            <div class="col">
                                <!-- Forgot password link -->
                                <a href="@Url.Page("./ForgotPassword")">Forgot password?</a>
                            </div>
                        </div>

                        <!-- Submit button -->
                        <button id="login-submit" type="submit" class="btn btn-primary btn-block mb-4 w-100">Log in</button>

                        <!-- Registration and Resend confirmation links -->
                        <div class="text-center">
                            <p>
                                <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                            </p>
                            <p>
                                <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
                            </p>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Section: Design Block -->
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
