@model GymMemberships.Models.MembershipPlan

@{
    ViewData["Title"] = "Create";
}

<body>
    <div class="container-index">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card shadow-lg">
                    <div class="card-header text-center">
                        <h3>Create <b>New Membership Plan</b></h3>
                    </div>
                    <div class="card-body">
                        <form asp-action="Create">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                            <div class="form-group">
                                <label asp-for="PlanName" class="control-label"></label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="material-icons">&#xE02F;</i></span>
                                    </div>
                                    <input asp-for="PlanName" class="form-control" placeholder="Enter Plan Name" />
                                </div>
                                <span asp-validation-for="PlanName" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="Price" class="control-label"></label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="material-icons">&#xE227;</i></span>
                                    </div>
                                    <input asp-for="Price" class="form-control" placeholder="Enter Price" />
                                </div>
                                <span asp-validation-for="Price" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="Description" class="control-label"></label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="material-icons">&#xE8F2;</i></span>
                                    </div>
                                    <input asp-for="Description" class="form-control" placeholder="Enter Description" />
                                </div>
                                <span asp-validation-for="Description" class="text-danger"></span>
                            </div>

                            <div class="form-group text-center">
                                <input type="submit" value="Create Plan" class="btn btn-primary btn-lg btn-block" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="mt-4 text-center">
            <a asp-action="Index" class="btn btn-link">Back to Plan List</a>
        </div>
    </div>

    @section Scripts {
        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
    }
</body>
