@model GymMemberships.Models.MembershipPlan

<h5>Are you sure you want to delete this membership plan?</h5>
<div>
    <h6>Membership Plan Details</h6>
    <table class="table">
        <tbody>
            <tr>
                <th scope="row">Plan Name</th>
                <td>@Html.DisplayFor(model => model.PlanName)</td>
            </tr>
            <tr>
                <th scope="row">Price</th>
                <td>@Html.DisplayFor(model => model.Price)</td>
            </tr>
            <tr>
                <th scope="row">Description</th>
                <td>@Html.DisplayFor(model => model.Description)</td>
            </tr>
        </tbody>
    </table>
    <br />
    <form asp-action="DeleteConfirmed" asp-controller="MembershipPlans" method="post">
        <input type="hidden" asp-for="Id" />
        <button type="submit" class="btn btn-danger">Confirm Delete</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
    </form>
</div>