@model GymMemberships.Models.MembershipPlan

@{
    ViewData["Title"] = "Details";
}

<body>
    <div class="container py-4">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card shadow-sm">
                    <div class="card-header text-center">
                        <h3 style="color: black;">Membership Plan <b style="color: royalblue;">Details</b></h3>
                    </div>
                    <div class="card-body">
                        <div class="row mb-3">
                            <div class="col-sm-6">
                                <h5 style="color: black;"><b>Plan Name:</b></h5>
                                <p style="color: dimgray;">@Html.DisplayFor(model => model.PlanName)</p>
                            </div>
                            <div class="col-sm-6">
                                <h5 style="color: black;"><b>Price:</b></h5>
                                <p style="color: dimgray;">@Html.DisplayFor(model => model.Price)</p>
                            </div>
                        </div>

                        <hr class="my-3" />

                        <div class="row mb-3">
                            <div class="col-sm-12">
                                <h5 style="color: black;"><b>Description:</b></h5>
                                <p style="color: dimgray;">@Html.DisplayFor(model => model.Description)</p>
                            </div>
                        </div>

                        <div class="row mt-3">
                            <div class="col-12 text-center mb-2">
                                <!-- Smaller edit button, centered -->
                                <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary btn-sm w-100">Edit Plan</a>
                            </div>
                            <div class="col-12 text-center">
                                <!-- Back to List button, centered -->
                                <a asp-action="Index" class="btn btn-link w-100">Back to List</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
