@model GymMemberships.Models.MembershipPlan

@{
    ViewData["Title"] = "Edit";
}

<!-- Content -->

<div class="container-xxl flex-grow-1 container-p-y d-flex justify-content-center">
    <div class="row g-6 w-100" style="max-width: 900px;">
        <!-- Form controls -->
        <div class="col-md-12">
            <div class="card">
                <h5 class="card-header">Update Membership Plan</h5>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <form asp-action="Edit">
                    <div class="card-body">
                        <div class="mb-4">
                            <label asp-for="PlanName" class="form-label">Membership Plan Name</label>
                            <input asp-for="PlanName" placeholder="insert plan name" class="form-control" />
                            <span asp-validation-for="PlanName" class="text-danger"></span>
                        </div>
                        <div class="mb-4">
                            <label for="exampleFormControlInput1" class="form-label">Price</label>
                            <input asp-for="Price" placeholder="RMx.xx" class="form-control" />
                        </div>
                        <div class="mb-4">
                            <label for="exampleFormControlInput1" class="form-label">Description</label>
                            <input asp-for="Description" placeholder="description of the plan" class="form-control" />
                        </div>

                        <div class="form-group text-end">
                            <a asp-action="Index" class="btn btn-secondary">Back</a>
                            <input type="submit" value="Update" class="btn btn-primary" />
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- / Content -->

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
